:root {
  /** colors */
  --color-name: custom;
  --color-bg-shade: #131316;
  --color-bg-base: #18181B;
  --color-bg-surface: #1D1D20;
  --color-bg-highlight: #222226;
  --color-fg-shade: #768CB2;
  --color-fg-base: #A6B4CD;
  --color-fg-surface: #D6DCE8;
  --color-fg-highlight: #FFFFFF;
  --color-primary-bg: #808080;
  --color-primary-base: #FFFFFF;
  --color-primary-fg: #777777;
  --color-secondary-bg: #09090B;
  --color-secondary-base: #131316;
  --color-secondary-fg: #A6B4CD;
  --color-palette-red: #E06C75;
  --color-palette-green: #98C379;
  --color-palette-yellow: #E5C07B;
  --color-palette-blue: #61AFEF;
  --color-palette-purple: #C678DD;
  --color-palette-cyan: #56B6C2;
  --color-palette-orange: #FFBB7C;
  
  /** general */
  --font-family: Quicksand;
  --display-image: block;

  /** surface */
  --surface-maxWidth: 960px;
  --surface-shadow: 2px 2px 7px rgb(128, 128, 128), 4px 4px 7px rgb(98.25, 98.25, 98.75), 6px 6px 7px rgb(68.5, 68.5, 69.5), 8px 8px 7px rgb(38.75, 38.75, 40.25), 10px 10px 7px rgb(9, 9, 11);
  --surface-borderRadius: 0px;

  /** spacing */
  --space-smallest: 0.125rem;
  --space-small: 0.5rem;
  --space-medium: 1rem;
  --space-large: 1.5rem;
  --space-largest: 3rem;

  /** others */
  --picture-size: 300px;
  --group-count: 3;
}
